<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <th:block th:include="common/head :: head" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- 登录logo -->
    <div class="login-logo">
        <a href="#"><b>后台管理</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">欢迎使用</p>
        <form th:action="@{/authentication/form}" method="post" id="loginForm">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="remember-me"/> 记住我
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"> 登录 </button>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:include="common/foot :: foot" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
    });
</script>
</body>
</html>