<div th:fragment="foot" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{{adminlte}/bower_components/jquery/dist/jquery.min.js(adminlte=${adminlte})}"></script>
    <script th:src="@{{adminlte}/bower_components/jquery-ui/jquery-ui.min.js(adminlte=${adminlte})}"></script>
    <script th:src="@{{adminlte}/bower_components/bootstrap/dist/js/bootstrap.min.js(adminlte=${adminlte})}"></script>
    <script th:src="@{{adminlte}/dist/js/AdminLTE.min.js(adminlte=${adminlte})}"></script>
    <!-- iCheck -->
    <script th:src="@{{adminlte}/plugins/iCheck/icheck.js(adminlte=${adminlte})}"></script>
    <!-- datatables -->
    <script th:src="@{{adminlte}/bower_components/datatables.net/js/jquery.dataTables.min.js(adminlte=${adminlte})}"></script>
    <script th:src="@{{adminlte}/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js(adminlte=${adminlte})}"></script>
    <script th:src="@{/assets/app/app.js}"></script>
    <script th:src="@{/assets/app/common.js}"></script>
    <script th:src="@{/assets/app/Ewin.js}"></script>
</div>
