<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="layout/layout :: htmlhead(title='主页',userStyle=~{::innerLinkCss},userScripts=~{::innerLinkScript})"></head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>用户管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li class="active">用户管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary box-info-search" style="display: none;">
                    <div class="box-header with-border">
                        <h3 class="box-title">高级搜索</h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="btnCreate"
                                    class="btn btn-default btn-sm">
                                <i class="fa fa-plus-square-o"></i>&nbsp;新增用户
                            </button>
                        </div>
                    </div>
                    <form id="queryForm" class="form-horizontal" method="post">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">用户名</label>
                                        <div class="col-sm-8">
                                            <input class="form-control input-sm" name="userName" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">锁定状态</label>
                                        <div class="col-sm-8">
                                            <select th:remove="all-but-first" name="userStatus" class="form-control input-sm">
                                                <!--<option>-请选择-</option>-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" onclick="search()" class="btn btn-sm btn-primary">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 查询结果 -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">查询结果</h3>
                    </div>
                    <div class="box-body">
                        <button type="button" class="btn btn-default btn-sm" onclick="addView()"><i class="fa fa-plus"></i> 新增</button>
                        <button type="button" class="btn btn-default btn-sm" onclick="deleteBatch();"><i class="fa fa-trash-o"></i> 批量删除</button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-download"></i> 导入</button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-upload"></i> 导出</button>
                        <button type="button" class="btn btn-primary btn-sm"
                                onclick="$('.box-info-search').css('display') === 'none'?
                                    $('.box-info-search').show('fast'):$('.box-info-search').hide('fast')"><i class="fa fa-search"></i> 高级搜索</button>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="dataTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="minimal allCheck"/></th>
                               <!-- <th class="text-center">编号</th>
                                <th class="text-center">用户名</th>
                                <th class="text-center">联系方式</th>
                                <th class="text-center">邮件</th>
                                <th class="text-center">锁定状态</th>
                                <th class="text-center">操作</th>-->
                                <th>编号</th>
                                <th>用户名</th>
                                <th>联系方式</th>
                                <th>邮件</th>
                                <th>锁定状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="editModalView"></div>
    </section>
</div>

<script layout:fragment="innerScript">
   var _dataTable;
   $(function () {
       var columns = [
           {
               data: function (data, type, full, meta) {
                   return '<input type="checkbox" class="minimal" id="'+data.userId+'" />'
               }
           },
           {data: "userId"},
           {data: "userName"},
           {data: "phone"},
           {data: "email"},
           {data: "userStatus"},
           {
               data: function (data, type, full, meta) {
                   return '<span class="fa fa-pencil" style="cursor: pointer; margin-right: 5px;" title="修改" onclick="modifyUser('+data.userId+')"></span>' +
                       '<span class="fa fa-remove" style="cursor: pointer" title="删除" onclick="deleteUser('+data.userId+')"></span>';
               }
           }
       ];
       _dataTable = App.initDataTables("/system/user/page", columns);
   });

   /** 查询 **/
   function search() {
       // 把form里面的数据序列化成数组
       var formData = $("#queryForm").serializeArray();
       _dataTable.settings()[0].ajax.data = $.whiteCode.formDataArrayToJson(formData);
       _dataTable.ajax.reload();
   }

   /** 批量删除 **/
   function deleteBatch() {
       App.deleteBatchByCheckBoxId("/system/user/deleteForBatch")
   }

   function addView() {
       $.ajax({
           type : "GET",
           url : "/system/user/initModalView",
           success : function(data) {
               $("#editModalView").html(data);
               $("#modalView").modal("show");
           }
       });
   }
</script>

</body>
</html>
